<div class="footer text-center">
  <div class="footer-links">
    <a href="https://github.com/AlexisPipieri" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/alexis-pipieri/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://twitter.com/Pips166" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Handmade by me © 2018.
  </div>
</div>
