<div class="container">
  <div class="headers">
    <!-- Home -->
    <div class="left">
      <a class="right-item" href="/">Alexis Pipieri</a>
    </div>
    <!-- Right Navigation -->
    <div class="right">
      <a class="right-item" href="mailto:alexis.pipieri@gmail.com">Contact</a>
    </div>
  </div>
</div>
