<div class="headers">
  <!-- Home -->
  <div class="left">
    <div class="spot left-item">
      <div class="spot-base">
      </div>
      <div class="spot-pulse">
      </div>
    </div>
  </div>
  <!-- Right Navigation -->
  <div class="right">
    <a class="right-item" href="mailto:alexis.pipieri@gmail.com">Contact</a>
  </div>
</div>
