/* Main navbar */
.headers {
  background: white;
  height: 120px;
  padding: 0px 20px;
  display: flex;
  padding-top: 42px;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: rgba($dark-gray, 1);
    &:hover {
      color: $blue;
    }
  }
}

.dot {
  height: 25px;
  width: 25px;
  background-color: $blue;
  border-radius: 50%;
  display: inline-block;
}

/* Left section */
.left {

}

/* Right section */
.right {
}

.navbar-item {
  cursor: pointer;
}

.dropdown {
  cursor: pointer;
}
