body {
  p {
    color: rgba($gray-dark, 0.4);
  }
  a {
    color: $gray-dark;
    &:hover {
      text-decoration: none;
      color: $gray-dark;
    }
  }
}

// Home
#home {
  background-color: rgb(255, 255, 255);
  color: #333333;
  height: calc(80vh - 100px);
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

.home-content {
  padding-top: 100px;
  p {
    font-size: 24px;
  }
}

// My skills
.skills {
  background-color: $light-gray;
  text-align: center;
  padding: 30px 0;
}
.summary {
  text-align: justify;
  padding: 0 10px;
}

i.fas {
  font-size: 40px;
}
i.fab {
  font-size: 40px;
}

.orange {
  color: $orange;
}

#description-paragraph {
  padding: 30px 0;
}

// Contact
.contact {
  background-color: $light-gray;
  text-align: center;
  padding: 30px 10px;
  min-height: 250px;
  a {
    color: $orange;
  }
}

