body {
  p {
    color: rgba($gray-dark, 0.4);
  }
}

// Home
#home {
  background-color: rgb(255, 255, 255);
  color: #333333;
  height: calc(80vh - 100px);
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

.home-content {
  padding-top: 100px;
  h2 {
    font-size: 24px;
  }
}

// My skills
.skills {
  background-color: $light-gray;
  text-align: center;
  padding: 60px 0;
}

i.fas {
  font-size: 40px;
}
i.fab {
  font-size: 40px;
}

.orange {
  color: $orange;
}

#description-paragraph {
  padding: 30px 0;
}

// My work
.realisations {
  background-color: white;
  text-align: center;
  padding: 60px 0;
}

.project {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
.project-right {
  // min-width: 48%;
}
.project-left {
  // min-width: 48%;

}
