// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #0480FC;
$yellow: #FDB631;
$orange: #FF7F50;
$green: #32B796;
$gray: #000000;
$light-gray: #F8F9FA;
$dark-gray: #303133;
